/*General: margen, padding y ancho de la pagina en general*/
*{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Roboto';
}

.contenedor-1, .contenedor-2{
    display: flex;
}

/*Las imágenes de las paginas: se modifico el ancho y el margen*/
.logo, .imagen-1{
    width: 12vw;
    margin: 2%;
}

/*Título y menú de navegación*/
h1, nav{
    margin: 1%;
    padding-top: 2%;
}

/*Enlaces: se modifico el espacio derecho entre el borde y el contenido*/
a{
    padding-right: 2%;
}

.contenedor-Home{
    padding-left: 3%;
}

/*Textos: se modificaron el espacio superior de los títulos y párrafo*/
.contenedor-Home h3, h4, pre{
    padding-top: 1%;
}

.contenedor-Home h4, pre{
    padding-left: 3%;
}

/*Cambio de color del enlace*/
.active{
    color:black;
}

/*-----about.html-----*/
.imagen-2{
    width: 12vw;
    height: 12vw;
    margin: 2%;
}

.contenedor-About pre{
    padding-left: 3%;
}

.contenedor-About h3{
    padding-top: 2%;
    padding-left: 3%;
}

/*-----contact.html-----*/
.imagen-3{
    width: 12vw;
    height: 12vw;
    margin: 2%;
}

.contenedor-Contact pre{
    padding-top: 2%;
}

u{
    color:blue;
}